name: release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
      - name: Change to project directory
        working-directory: active-projects/devops-monkee
        run: pwd
      - working-directory: active-projects/devops-monkee
        run: npm ci
      - working-directory: active-projects/devops-monkee
        run: npm audit --audit-level=moderate
      - working-directory: active-projects/devops-monkee
        run: npm run build
      - working-directory: active-projects/devops-monkee
        run: npm test --if-present
      - working-directory: active-projects/devops-monkee
        run: npm publish --provenance --access public

